<h1 class="title" id="title">{{'Forgot password' | transloco}}</h1>

<nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<div [formGroup]="form" aria-labelledby="title">
  <div class="form-control-group">
    <label for="email">{{'Email address' | transloco}}</label>
    <input [attr.aria-invalid]="email.invalid && email.touched ? true : null"
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'" autofocus fieldSize="large"
           formControlName="email" fullWidth
           id="email"
           nbInput
           placeholder="{{'Email address' | transloco }}">
  </div>

  <button (click)="requestPassword()" [class.btn-pulse]="submitted" [disabled]="submitted || !form.valid" fullWidth
          nbButton
          size="large" status="primary">
    {{'Request password' | transloco}}
  </button>
</div>

<section aria-label="Sign in or sign up" class="sign-in-or-up">
  <p><a class="text-link" routerLink="../login">{{'Back to Login' | transloco}}</a></p>
  <p><a class="text-link" routerLink="../register">{{'Register' | transloco}}</a></p>
</section>

