<h1 class="title" id="title">{{'Change password' | transloco}}</h1>
<p class="sub-title">{{'Please set a new password' | transloco}}</p>

<nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<div [formGroup]="form" aria-labelledby="title">

  <div class="form-control-group">
    <label for="input-password">{{'Password' | transloco}}:</label>
    <input [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'" autofocus class="first"
           formControlName="password" fullWidth id="input-password" nbInput
           placeholder="Password" type="password">
  </div>

  <div class="form-control-group">
    <label for="input-re-password">{{'Confirm password' | transloco}}:</label>
    <input [status]="confirmPassword.dirty ?
    (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : 'basic'"
           formControlName="confirmPassword" fullWidth id="input-re-password" nbInput
           placeholder="{{'Confirm password' | transloco}}" type="password">
    <p *ngIf="password.value != confirmPassword.value && confirmPassword.touched"
       class="error-message caption status-danger">
      {{'Password and confirm password does not match!' | transloco}}
    </p>
  </div>

  <button [class.btn-pulse]="submitted" fullWidth nbButton status="success" (click)="resetPassword()"
          [disabled]="submitted || !form.valid || password.value != confirmPassword.value">
    {{'Change password' | transloco}}
  </button>
</div>

<section aria-label="Sign in or sign up" class="sign-in-or-up">
  <p><a class="text-link" routerLink="../login">{{'Back to Login' | transloco}}</a></p>
  <p><a class="text-link" routerLink="../register">{{'Register' | transloco}}</a></p>
</section>
